<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/insert/" enctype="application/x-www-form-urlencoded">
        <input name="descriptionz" type="text" placeholder="Nhap description">
        <input name="linkz" type="text" placeholder="Nhap linkz">
        <input name="categoryidz" type="text" placeholder="Nhap categoryid">
        <button type="submit">Save</button>
    </form>
  </body>
</html>
